body {
    min-width: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    min-width: 100%;
    padding: .1em 0;
    text-align: center;
    background-color: blue;
    color: white;
}
#city {
    margin-top: 0;
}
input {
    min-width: 100%;
    min-height: 2em;
    border-radius: 5px;
    border-color: lightgrey;
    justify-self: center;
}

/* input[type=submit] {
    background-color: lightskyblue;
    font-size: .5em;
    color: azure;
    padding: .75em;
} */
.wrapper {
    min-width: 100%;
    display: flex;
}
.search {
    border-bottom: solid 1px black;
    min-width: 100%;
}
.sidebar {
    padding: 1em;
    flex-grow: 1;
}
button {
    min-width: 100%;
    min-height: 2em;
    padding: .75em;
    margin: .1em;
    border-radius: 5px;
    border-color: lightgrey;
    justify-self: center;
}
#searchBtn {
    background-color: lightskyblue;
    color: azure;
}
.main {
    padding: 1em;
    flex-grow: 8;
}
.hide {
    visibility: hidden;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    border: solid 1px black;
    padding: 1em;
    color: white;
    background-color: midnightblue;
}
.one-day {
    border: solid 1px black;
    padding: 1em;
}
.oneday-title {
    display: flex;
}
#icon {
    padding-left: 1em;
}
.uv {
    display: flex;
}
#oneday-uvIdx {
    border: solid 1px lightgrey;
    border-radius: 5px;
    min-width: 2em;
    text-align: center;
}
h3 {
    margin: 0;
}
/* .five-day {
} */